@if (showPopin) {
  <div id="login">
    <p>Yo Ho Ho !</p>
    <h1>Quel est ton nom pirate ?</h1>
    <input type="text" name="pseudo" id="pseudo" #pseudoInputElement [(ngModel)]="pseudo">
    <div id="buttons">
      <input type="button" value="validate" (click)="addPlayerAndValidateForm()" autocomplete="off">
      @if (gameService.players.length < 8) {
        <input  type="button" value="insertNew" (click)="addPlayer()">
      } @else {
        <p >Nb max de joueurs atteint !</p>
      }
    </div>
  </div>
}
@for ( player of gameService.players; track  player) {
  <p>{{player.pseudo}}</p>
}
